@{
    ViewData["Title"] = "Delete Student";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<form method="post" action="@Url.Action("SubmitDeleteAction", "Admin")" onsubmit="return isEmailFieldValid()">
    <div class="form-group">
        <label for="studentEmailField">Student email</label>
        <input type="email" class="form-control" id="studentEmailField" name="studentEmailField" placeholder="name@example.com">
    </div>
    @if (@ViewData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            The user with this email does not exist !
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert" style="visibility: hidden">
        </div>
    }
    <div class="text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationModal">Delete</button>
    </div>
   
    @{
        ViewData["modalTitle"] = "Delete Student from system";
        ViewData["confirmationMessage"] = "Are you sure you want to delete this student?";
        Html.RenderPartial("ConfirmationModal");

    }
</form>