@{
    ViewData["Title"] = "Delete Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form>
    <div class="form-group">
        <label for="studentIdField">Student username</label>
        <input type="email" class="form-control" id="studentIdField" placeholder="name@example.com">
    </div>
</form>