
@{
    ViewData["Title"] = "Student profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
<link rel="stylesheet" href="~/css/rick.css"/>
<div style="text-align: center !important;">
<div class="card w-75">
    <div class="card-body">
        <h5 class="card-title">Student ID: </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
</div>
<div class="card w-75">
    <div class="card-body">
        <h5 class="card-title">Firstname: </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
</div>
<div class="card w-75">
    <div class="card-body">
        <h5 class="card-title">Surname: </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
</div>
<div class="card w-75">
    <div class="card-body">
        <h5 class="card-title">Date of Birth: </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
</div>
<div class="card w-75">
    <div class="card-body">
        <h5 class="card-title">Class Name: </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
</div>
<div class="card w-75">
    <div class="card-body">
        <h5 class="card-title">Group Number: </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
</div>
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Average: </h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <button type="button" class="btn btn-primary">Send E-mail</button>
</div>