
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form>
<div class="form-group">
    <label for="exampleFormControlSelect1">Select Class</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Maths</option>
      <option>Romanian</option>
      <option>Russian</option>
      <option>Geography</option>
    </select>
  </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Select Group</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Group 1</option>
            <option>Group 2</option>
            <option>Group 3</option>
            <option>Group 4</option>
            <option>Group 5</option>
        </select>
    </div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("SelectStudent", "Student")'">Confirm</button>
</form>