@using Rubrics.Data

@{
    ViewData["Title"] = "Select Student From group";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //get the data from the viewData dynamically

    //mock some data for moment
    List<StudentModel> students = new List<StudentModel>();
    students.Add(new StudentModel() {StudentId = 1, FirstName = "Ricards", LastName = "Augustauskis"});
    students.Add(new StudentModel() {StudentId = 2, FirstName = "Fabio", LastName = "Queiroz"});
    students.Add(new StudentModel() {StudentId = 3, FirstName = "Andrei", LastName = "Avram"});
    students.Add(new StudentModel() {StudentId = 1, FirstName = "Ricards", LastName = "Augustauskis"});
    students.Add(new StudentModel() {StudentId = 2, FirstName = "Fabio", LastName = "Queiroz"});
    students.Add(new StudentModel() {StudentId = 3, FirstName = "Andrei", LastName = "Avram"});

}
@{
    int index = 0;
    while (index < students.Count)
    {
        <div class="row">
            @{
            ViewData["Student"] = students[index];
            Html.RenderPartial("CardStudent");
            
            index++;
            while (index % 3 != 0)
            {
            ViewData["Student"] = students[index];
            Html.RenderPartial("CardStudent");
            index++;
            }
            }

        </div>
    }
}