
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Student Mark";
}

<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Module Title</div>
    <div class="card-body">
        <h5 class="card-title">69%</h5>
    </div>
</div>