
.actionButton{
    width: 200px !important;
    height: 160px !important;
}
.rubric-item:hover{
    background: #A6E08E;
}
.page-separator-horizontal{
    border: 4px solid dodgerblue;
    border-radius:5px ;
}
#counterNumberStudents{
    font-weight: bold;
}
.custom-card{
    padding: 20px;
    border-radius: 10px;
    background: #E8E8E8;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}
#createRubricAlert{
    visibility: hidden !important;
}