
.dropdown-menu-select-class label{
    font-size: 22px;
}
.dropdown-menu-select-class input{
    margin-left: 35px;
}
#pendingButton{
    border: 3px solid white !important;
    color: white;
    background-color: dodgerblue;
    margin: 2rem;
    padding: 4rem;
    border-radius: 25px;
    font-size: 20px;
}
#markedButton{
    border: 3px solid wheat !important;
    color: white;
    background-color: dodgerblue;
    margin: 2rem;
    padding: 4rem;
    border-radius: 25px;
    font-size: 20px;
}
#split{
    height: 100% !important;
}
/* Split the screen in half */
.split {
    height: 50%;
    width: 50%;
    position: fixed;
    z-index: -1;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.top-left {
    top: 0;
    left: 0;
    background-color: lightgreen;
    z-index: -1;
}

/* Control the right side */
.top-right {
    top:0;
    z-index: -1;
    right: 0;
    background-color: lightblue;
}
.bottom-left{
    z-index: -1;
    left: 0;
    bottom: 0;
    background-color: lightblue;
}
.bottom-right{
    z-index: -1;
    right: 0;
    bottom: 0;
    background-color: lightgreen;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.split-half {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: -1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    
}
/* Control the left side */
.left-half {
    left: 0;
    background-color: lightgreen;
    z-index: -1;
}
/* Control the right side */
.right-half {
    right: 0;
    background-color: lightblue;
    z-index: -1;
}



